.color-danger {
    color: #dc3232 !important;
}
.background-danger {
    background-color: #dc3232 !important;
}
.background-danger-opacity {
    background-color: rgba(220, 50, 50, 0.2) !important;
}
.color-success {
    color: #46b450 !important;
}
.background-success {
    background-color: #46b450 !important;
}
.background-success-opacity {
    background-color: rgba(70, 180, 80, 0.2) !important;
}

.wp-list-table .column-status {
    vertical-align: middle;
}
.kirki-reset-section {
    display: none;
}