/.idea
/.htaccess
/wp-config.php
/wp-content/themes/twentyfifteen
/wp-content/themes/twentyseventeen
/wp-content/themes/twentysixteen
/wp-content/themes/holidays/temp
/wp-content/themes/holidays/site-helpers/.sass-cache
/wp-content/themes/holidays/site-helpers/node_modules
/wp-content/themes/holidays/css/front.min.css
/wp-content/themes/holidays/css/portal.min.css
/wp-content/themes/holidays/js/front.min.js
/wp-content/themes/holidays/js/back.min.js
/github-access.txt
/wp-content/themes/holidays/logs
/wp-content/themes/holidays/css/admin.min.css
/wp-content/debug.log
/wp-content/themes/kanda/js/admin.min.js
/wp-content/themes/kanda/js/front.min.js
/wp-content/themes/kanda/js/back.min.js
/wp-content/themes/kanda/css/admin.min.css
/wp-content/themes/kanda/css/back.min.css
/wp-content/themes/kanda/css/front.min.css
/wp-content/themes/kanda/site-helpers/node_modules
/wp-content/themes/kanda/site-helpers/.sass-cache
/wp-content/themes/kanda/logs
/wp-content/themes/kanda/includes/vendor/cimage/cache
/wp-content/themes/kanda/includes/vendor/cimage/webroot/error_log
