@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qysx8g');
  src:  url('fonts/icomoon.eot?qysx8g#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qysx8g') format('truetype'),
    url('fonts/icomoon.woff?qysx8g') format('woff'),
    url('fonts/icomoon.svg?qysx8g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tags:before {
  content: "\e910";
}
.icon-prices:before {
  content: "\e910";
}
.icon-envelope:before {
  content: "\e913";
}
.icon-cross2:before {
  content: "\e941";
}
.icon-triangle-up:before {
  content: "\e900";
}
.icon-triangle-down:before {
  content: "\e901";
}
.icon-key:before {
  content: "\e90c";
}
.icon-password:before {
  content: "\e90c";
}
.icon-login:before {
  content: "\e90c";
}
.icon-signin:before {
  content: "\e90c";
}
.icon-issue-closed:before {
  content: "\e904";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-search:before {
  content: "\e986";
}
.icon-cog:before {
  content: "\e994";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-warrning:before {
  content: "\ea07";
}
.icon-info:before {
  content: "\ea08";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-edit:before {
  content: "\e90b";
}
.icon-room:before {
  content: "\e912";
}
.icon-location:before {
  content: "\e916";
}
.icon-earth:before {
  content: "\e914";
}
.icon-globe:before {
  content: "\e914";
}
.icon-language:before {
  content: "\e914";
}
.icon-web:before {
  content: "\e914";
}
.icon-internet:before {
  content: "\e914";
}
.icon-sphere:before {
  content: "\e914";
}
.icon-planet:before {
  content: "\e914";
}
.icon-phone:before {
  content: "\e915";
}
.icon-telephone:before {
  content: "\e915";
}
.icon-contact:before {
  content: "\e915";
}
.icon-support:before {
  content: "\e915";
}
.icon-call:before {
  content: "\e915";
}
.icon-image:before {
  content: "\e90d";
}
.icon-currency-gbp:before {
  content: "\e909";
}
.icon-currency-rur:before {
  content: "\e906";
}
.icon-currency-euro:before {
  content: "\e907";
}
.icon-currency-usd:before {
  content: "\e908";
}
.icon-plane:before {
  content: "\e905";
}
.icon-bullhorn:before {
  content: "\e902";
}
.icon-shopping-bag:before {
  content: "\e903";
}
.icon-upload:before {
  content: "\e90a";
}
.icon-star-o:before {
  content: "\e90e";
}
.icon-star:before {
  content: "\e90f";
}
.icon-bed:before {
  content: "\e911";
}
.icon-hotel:before {
  content: "\e911";
}
.icon-info2:before {
  content: "\e918";
}
.icon-hand-pointer-o:before {
  content: "\e917";
}