@charset "UTF-8";

/**
 *  Elements
 */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.1;
    color: #000000;
    font-weight: 700;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 25px;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 15px;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

.h1, h1 {
    margin-bottom: 35px;
    font-size: 45px;
}

.h2, h2 {
    font-size: 36px;
}

.h3, h3 {
    font-size: 30px;
}

.h4, h4 {
    font-size: 24px;
}

.h5, h5 {
    font-size: 20px;
}

.h6, h6 {
    font-size: 18px;
}

.small, small {
    font-size: 85%;
    line-height: 1;
    color: #828282;
}

.bold, strong, b {
    font-weight: bold;
}

sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

small {
    font-size: 75%;
}

big {
    font-size: 125%;
}

dfn, cite, em, i, var {
    font-style: italic;
}

s, strike, del {
    text-decoration: line-through;
}

u, ins {
    text-decoration: underline;
}

blockquote {
    position: relative;
    margin: 40px auto;
    padding: 45px 20px 35px;
    width: 90%;
    color: #000000;
    background-color: #f7f7f7;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
}
blockquote:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
}
blockquote cite, blockquote small, blockquote footer {
    display: block;
    padding-top: 18px;
    color: #a6a6a6;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
}
blockquote p {
    margin-bottom: 20px;
}
blockquote > p:last-child {
    margin-bottom: 0;
}
blockquote em, blockquote i, blockquote cite {
    font-style: normal;
}

.mark, mark {
    padding: .1em .3em;
    background: #ff0;
    color: #1f1f1f;
}

abbr[data-original-title], abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #777;
}

address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143;
}

ul, ol {
    margin: 0 0 25px 20px;
}
ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
}

dt {
    font-weight: 700;
}

dd, dt {
    line-height: 1.42857143;
}

dd {
    margin-left: 0;
}
kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

pre {
    display: block;
    padding: 9px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border: none;
    border-width: 0;
    margin: 0 0 25px 0;
    table-layout: fixed;
    width: 100%;
}
table thead th {
    text-transform: uppercase;
    color: #000000;
    font-size: 12px;
    line-height: 26px;
}
table tbody tr:nth-child(2n+1) th, table tbody tr:nth-child(2n+1) td {
    background-color: #f7f7f7;
}
table th, table td {
    padding: 9px 20px;
    vertical-align: middle;
}
table caption, table th, table td {
    font-weight: normal;
    text-align: left;
}
table th {
    font-weight: 700;
}
table td {
    font-size: 16px;
    line-height: 20px;
    color: inherit;
    font-weight: 400;
}
/**
 *  Alignments
 */
.alignleft {
    display: inline;
    float: left;
}

.alignright {
    display: inline;
    float: right;
}

.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
    margin: 0.4em 1.6em 1.6em 0;
}

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
    margin: 0.4em 0 1.6em 1.6em;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
    clear: both;
    margin-top: 0.4em;
    margin-bottom: 1.6em;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
    margin-bottom: 1.2em;
}

/**
 *  Caption
 */
.wp-caption {
    background: transparent;
    border: none;
    color: #737373;
    font-family: "Cabin", sans-serif;
    margin: 0 0 28px 0;
    max-width: 100%;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
}

.wp-caption.alignleft {
    margin: 20px 25px 30px 0;
}

.wp-caption.alignright {
    margin: 20px 0 30px 25px;
}

.wp-caption.aligncenter {
    margin: 7px auto;
}

.wp-caption .wp-caption-text,
.wp-caption-dd {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0;
}

.gallery {
    margin-bottom: 1.6em;
}

.gallery-item {
    display: inline-block;
    padding: 1.79104477%;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-icon img {
    margin: 0 auto;
}

.gallery-caption {
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    display: block;
    font-family: "Cabin", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    padding: 0.5em 0;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none;
}