/*icon fonts*/
[class^="icon-"], [class*=" icon-"] {
    display:inline-block;
    vertical-align:middle;
}
/*RESET*/
a{
    cursor: pointer;
    text-decoration: none;
}
ul,ol{
    list-style:none;
}

/*ELEMENTS*/
a{    -webkit-transition:all 0.15s ease;
    -moz-transition:all 0.15s ease;
    transition:all 0.15s ease;
}
.small, small {
    font-size: 80%;
    font-weight: 400;
}
/*HELPERS*/
/*text color*/
.text-primary{color:var(--brand-primary);}
.text-info{color:var(--brand-success);}
.text-success{color:var(--brand-success);}
.text-warning{color:var(--brand-warning);}
.text-danger{color:var(--brand-danger);}

.text-muted { color: var(--color-muted) !important; }

/*background color*/
.bg-primary{background-color:var(--brand-primary);}
.bg-info{background-color:var(--brand-info);}
.bg-success{background-color:var(--brand-success);}
.bg-warning{background-color:var(--brand-warning);}
.bg-danger{background-color:var(--brand-danger);}

/*border color*/
.border-default{border-color:var(--color-gray);}
.border-primary{border-color:var(--brand-primary);}
.border-info{border-color:var(--brand-info);}
.border-success{border-color:var(--brand-success);}
.border-warning{border-color:var(--brand-warning);}
.border-danger{border-color:var(--brand-danger);}


.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

.center{
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
}

.vert-center{
    position:absolute;
    top:50%;
    -webkit-transform:translate(0, -50%);
    -moz-transform:translate(0, -50%);
    transform:translate(0, -50%);
}

.bg-block{
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

/*Typography*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1 {  font-size: 2.5rem; }
h2 {  font-size: 2rem; }
h3 {  font-size: 1.75rem; }
h4 {  font-size: 1.5rem; }
h5 {  font-size: 1.25rem; }
h6 {  font-size: 1rem; }

.container {
    max-width: 1440px;
}
