@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    /*font-family: 'Cabin', 'Trebuchet MS', 'Arial', 'Helvetica', 'Verdana', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.5;
    background: var(--bg-color) url(../images/back/world_map.png) no-repeat center 150px;
    box-shadow: 0 5px 19px var(--brand-primary);
    border-top: 5px solid #fff;
}
/*********************** Header ***********************/
header {
    position: relative;
    background: var(--brand-primary);
    padding: 1.25rem;
    box-shadow: 0px 5px 19px var(--brand-primary);
    z-index: 11;
    margin-bottom: 50px;
    color: #fff;
}

header a {
    color: #ececec;
}

header .back-logo {
    width: 250px;
    float: left;
}
header .back-logo img {
    margin-top: 3px;
}
/*********************** /end Header ***********************/

/*********************** Profile logo ***********************/
.agency-logo {
    float: right;
    position: relative;
    padding: 10px;
}
.agency-logo .avatar {
    text-decoration: none;
    display: block;
    line-height: 0;
}
.agency-logo a.avatar-default {
    color: #3d4795;
    border-radius: 50%;
    padding: 17px 20px 15px 21px;
    background: #ececec;
    font-size: 30px;
    line-height: 30px;
}
.agency-logo img {
    border-radius: 50%;
    max-width: 65px;
    border: 2px solid #ececec;
    background-color: var(--bg-color);
}
/*********************** /end Profile logo ***********************/
.currency {
    float: right;
    position: relative;
    color: #3d4795;
    margin-top: 20px;
}
.currency a {
    font-size: 30px;
}
.currency .sub-menu {
    left: -52px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: auto;
    width: 120px;
}
.currency .sub-menu li:hover {
    background: none;
}
.currency .sub-menu li:hover a {
    color: #3d4795;
}
.currency .sub-menu li span {
    text-align: left;
}
.currency .sub-menu i {
    margin-right: 20px;
}

/*Main*/
.main{
    margin:30px 0;
}
/*Sidebar*/
.sidebar{

}
.side-nav li{
    padding:3px 0;
}
.side-nav li.sep{
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom:solid 1px var(--border-color);
}
.side-nav a{
    color:inherit;
}
.side-nav a:hover{
    color:var(--brand-primary);
}

/*article list*/
.articles-list li{
    padding-bottom:1rem;
    margin-bottom:1rem;
    border-bottom:solid 1px var(--border-color);
}
.articles-list li:last-child{
    border-bottom:0;
}
.article-title{
    color:var(--brand-info);
}
.article-title a{
    color:inherit;
}
.article-obj{
    margin:5px 0 .75rem;
}
.article-body .btn{
    margin-top:.5rem;
}

.avatar-box {
    display: inline-block;
}
.avatar-wrapper {
    width:151px;
    height: 151px;
    max-width: 100%;
    position: relative;
    border-radius: 50%;
    line-height: 0;
    border: 2px solid rgba(0,0,0,.15);
    overflow: hidden;
    margin-bottom: 10px;
}

/**
* Avatar upload
*/
#avatar-upload-ui {
    border:3px dashed var(--bg-color);
    padding: 50px 0;
}
#filelist {
    margin-top: 20px;
}
#filelist .file {
    font-size: 0.8em;
    position: relative;
    width: 100%;
}
#filelist .file .filename {
    position: relative;
    z-index: 2;
    padding: 0 10px;
}
#filelist .file .progress {
    position: absolute;
    height: 100%;
    width: 0;
    left: 0;
    top: 0;
    z-index: 1;
    background: var(--brand-success-border);
}

/**
* Croppper
*/
#cropper {
    line-height: 0;
    box-shadow: 0 1px 6px rgba(0,0,0,.12), 0 1px 4px rgba(0,0,0,.24);
}


