.hidden {
    display: none !important;
}
.visible {
    display: block !important;
}
.invisible {
    visibility: hidden !important;
}
.link{
    color:var(--brand-primary);
}
.link:hover{
    text-decoration: underline;
}
.body-bg {
    background-color: var(--body-bg) !important;
}
.box{
    background-color: var(--bg-color);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    margin-bottom: 1rem;
    padding:25px 20px;
    border-top: 4px solid var(--brand-secondary);
    border-radius: 13px;
}
@media (min-width: 992px) {
    .box.main-content {
        padding: 40px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .occupants .box {
        min-height: 352px;
    }
}
@media (min-width: 991px) {
    .occupants .box {
        min-height: 258px;
    }
}


/*Buttons*/
.btn{
    color:#fff;
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .4rem 2rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor:pointer;
}
.btn.-no-padding {
    padding-left: 0;
    padding-right: 0;
}

.btn.-primary{
    background-color:var(--brand-primary);
    border-color:var(--brand-primary-border);
}
.btn.-secondary{
    background-color:var(--brand-secondary);
    border-color:var(--brand-secondary-border);
}
.btn.-success{
    background-color:var(--brand-success);
    border-color:var(--brand-success);
}
.btn.-info{
    background-color:var(--brand-info);
    border-color:var(--brand-info);
}
.btn.-warning{
    background-color:var(--brand-warning);
    border-color:var(--brand-warning);
}
.btn.-danger{
    background-color:var(--brand-danger);
    border-color:var(--brand-danger);
}
.btn.-primary:hover,
.btn.-primary.active,
.btn.-secondary:hover,
.btn.-secondary.active,
.btn.-success:hover,
.btn.-success.active,
.btn.-info:hover,
.btn.-info.active,
.btn.-warning:hover,
.btn.-warning.active,
.btn.-danger:hover,
.btn.-danger.active {
    opacity: 0.7;
}
.btn.active .icon-triangle-down:before {
    content: "\e900";
}
.btn.-link{
    background:none;
    border:0;
    padding:0;
    color:var(--brand-primary);
}
.btn.-link:hover{
    text-decoration:underline;
}
/*buttons sizes*/
.btn.-lg{
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: .3rem;
}
.btn.-sm{
    padding: .25rem 1.5rem;
    font-size: .875rem;
    border-radius: .2rem;
    margin-bottom: .2rem;
}
.btn.-block{
    display:block;
    width:100%;
}
.btn.-normal-wrap {
    white-space: normal;
}

/*alerts*/
.alert {
    position:relative;
    padding: 8px 15px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
}
.alert-close-btn{
    position:absolute;
    top:50%;
    margin-top: -6px;
    right:5px;
    display:inline-block;
    font-size:10px;
    color:#fff;
    cursor:pointer;
}

.alert-success{
    background: var(--brand-success);
    border-color:var(--brand-success-border);
}
.alert-info{
    background: var(--brand-info);
    border-color:var(--brand-info-border);
}
.alert-warning{
    background: var(--brand-warning);
    border-color:var(--brand-warning-border);
}
.alert-danger{
    background: var(--brand-danger);
    border-color:var(--brand-danger-border);
}

.flash-message {
    transition: opacity .5s;
}
.flash-message.shown {
    opacity: 0;
}

/*titles*/
.page-title{
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom:1rem;
}


.sep-btm{
    border-bottom:solid 1px var(--border-color);
}
/*Popup*/
.static-popup {
    position: relative;
    background: var(--bg-color);
    padding: 1.75rem;
    width: 75%;
    max-width: 100%;
    margin: 20px auto;
    border-top: 4px solid var(--brand-secondary);
    border-radius: 13px;
}
.static-popup.confirmation {
    width: 600px;
}
.static-popup.-md {
    width: 800px;
}
.static-popup.-sm {
    width: 800px;
}
.static-popup .actions {
    font-size: 0;
}
.static-popup .actions .btn {
    margin: 0 2px;
}
.loading-popup {
    background-image: url("../images/back/ripple.svg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 200px;
}

/*table*/
.table{
    display:table;
    width:100%;
    table-layout:fixed;
    border:solid 1px var(--brand-primary);
    font-size:14px;
    margin-bottom: 1rem;
}
.thead{
    display:table-header-group;
    background:var(--brand-primary);
    color:#fff;
}
.tfoot{
    display:table-footer-group;
}
.tbody {
    display: table-row-group;
}
.tr{
    display:table-row;
}
.th,.td {
    display: table-cell;
    padding:5px 8px;
}
.td{
    border-bottom:solid 1px var(--border-color);
}
.table .tr:last-child .td{
    border-bottom:0;
}

.bookings-list-th-name {width: 40%;}
.bookings-list-th-status {width: 10%;}
.bookings-list-th-check-in {width: 20%;}
.bookings-list-th-check-out {width: 20%;}
.bookings-list-th-check-more {width: 10%;}

.secondary-menu {
    margin-bottom: 20px;
}

/* Tabs */
.tabs .tab-headings {
    margin-bottom: 1rem;
}

#autocomplete-wrap {
    position: relative;
}
#autocomplete-wrap .ui-widget.ui-widget-content {
    border-color: var(--brand-primary);
    background-color: #fff;
    background-image: none;
    font-size: .875rem;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    max-height: 151px;
    overflow-y: auto;
}
#autocomplete-wrap .ui-widget.ui-widget-content li {
    padding: 5px 10px;
}

/** Pagination */
.pagination {
    font-size: 0;
}

.hotel-detailed-information li {
    margin-bottom: 1rem;
    font-size: 0.875rem;
}

.pagination a,
.pagination span {
    font-size: .875rem;
    display: inline-block;
    padding: 5px;
    margin-right: 2px;
    border-width: 1px;
    border-style: solid;
    border-radius: .2rem;
    color: #fff;
    width: 33px;
    height: 33px;
    text-align: center;
}
.pagination a:last-child {
    margin-right: 0;
}
.pagination a.page-numbers {
    background-color:var(--brand-secondary);
    border-color:var(--brand-secondary-border);
}
.pagination a.page-numbers:hover {
    opacity: 0.7;
}
.pagination span.page-numbers {
    background-color: var(--brand-primary);
    border-color:var(--brand-primary-border);
}
.pagination span.dots {
    color: inherit;
    border: none;
    background-color: transparent;
}

/** custom table */
.custom-table {
    border: 1px solid var(--brand-primary);
    font-size: 14px;
    margin-bottom: 1rem;
    width: 100%;
}
.custom-table .title {
    color: #fff;
    background: var(--brand-primary);
    padding: 8px;
}
.custom-table .heading {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #fff;
    background: var(--brand-primary);
    padding: 8px;
}
.custom-table td {
    border-bottom: 1px solid var(--border-color);
    padding: 5px 8px;
}
.custom-table .no-border {
    border: 0;
}
.custom-table .border-separator {
    border-top: 1px solid var(--brand-primary);
    border-bottom: 1px solid var(--brand-primary);
}

.main_banners {
    margin-bottom: 1rem;
}
.main_banners img {
    height: auto;
}
.sidebar .slider {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    max-width: 100%;
}
.sidebar .slider img {
    height: auto;
}