.hidden {
    display: none !important;
}
.visible {
    display: block !important;
}
.link{
    color:var(--brand-primary);
}
.link:hover{
    text-decoration: underline;
}
.box{
    background-color: var(--bg-color);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    padding:25px 20px;
    margin-bottom: 1rem;
}


/*Buttons*/
.btn{
    color:#fff;
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .4rem 2rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor:pointer;
}

.btn.-primary{
    background-color:var(--brand-primary);
    border-color:var(--brand-primary);
}
.btn.-primary:hover{
    background-color:var(--brand-primary-border);
    border-color:var(--brand-primary-border);
}
.btn.-secondary{
    color: var(--text-color);
    background:none;
    border-color: var(--border-color);
}
.btn.-secondary:hover{
    background:var(--border-color);
}
.btn.-success{
    background-color:var(--brand-success);
    border-color:var(--brand-success);
}
.btn.-success:hover{
    background-color:var(--brand-success-border);
    border-color:var(--brand-success-border);
}
.btn.-info{
     background-color:var(--brand-info);
     border-color:var(--brand-info);
}
.btn.-info:hover{
    background-color:var(--brand-info-border);
    border-color:var(--brand-info-border);
}
.btn.-warning{
    background-color:var(--brand-warning);
    border-color:var(--brand-warning);
}
.btn.-warning:hover{
    background-color:var(--brand-warning-border);
    border-color:var(--brand-warning-border);
}
.btn.-danger{
    background-color:var(--brand-danger);
    border-color:var(--brand-danger);
}
.btn.-danger:hover{
    background-color:var(--brand-danger-border);
    border-color:var(--brand-danger-border);
}
.btn.-link{
    background:none;
    border:0;
    padding:0;
    color:var(--brand-primary);
}
.btn.-link:hover{
    text-decoration:underline;
}
/*buttons sizes*/
.btn.-lg{
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: .3rem;
}
.btn.-sm{
    padding: .25rem 1.5rem;
    font-size: .875rem;
    border-radius: .2rem;
}
.btn.-block{
    display:block;
    width:100%;
}

/*alerts*/
.alert {
    padding: 8px 15px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
}

.alert-success{
    background: var(--brand-success);
    border-color:var(--brand-success-border);
}
.alert-info{
    background: var(--brand-info);
    border-color:var(--brand-info-border);
}
.alert-warning{
    background: var(--brand-warning);
    border-color:var(--brand-warning-border);
}
.alert-danger{
    background: var(--brand-danger);
    border-color:var(--brand-danger-border);
}
.flash-message {
    transition: opacity .5s;
}
.flash-message.shown {
    opacity: 0;
}

/*titles*/
.page-title{
    color: #373b42;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom:1rem;
}


.sep-btm{
    border-bottom:solid 1px var(--border-color);
}
/*Popup*/
.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: 75%;
    max-width: 100%;
    margin: 20px auto;
}
.loading-popup {
    background-image: url("../images/back/ripple.svg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 200px;
}

/*table*/
.table{
    display:table;
    width:100%;
    table-layout:fixed;
    border:solid 1px var(--brand-primary);
    font-size:14px;
    margin-bottom: 1rem;
}
.thead{
    display:table-header-group;
    background:var(--brand-primary);
    color:#fff;
}
.tfoot{
    display:table-footer-group;
}
.tbody {
    display: table-row-group;
}
.tr{
    display:table-row;
}
.th,.td {
    display: table-cell;
    padding:5px 8px;
}
.td{
    border-bottom:solid 1px var(--border-color);
}
.table .tr:last-child .td{
    border-bottom:0;
}

.secondary-menu {
    margin-bottom: 20px;
}
