.editor-content p{
    margin-bottom:1rem;
}
.editor-content ul,
.editor-content ol{
    margin:0 0 1rem 20px;
}
.editor-content ol{
    list-style:decimal;
}
.editor-content ul{
    list-style:square;
}