/*inline form*/
.form-inline .form-group>*{
    display:inline-block;
    vertical-align: middle;
}
/*end inline form*/
.fieldset{
    padding-bottom:15px;
    margin-bottom:25px;
}

.form-title,
legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: inherit;
    color:var(--brand-primary);
}

.form-group{
    margin-bottom:20px;
}
.form-label{
    font-size: 14px;
}
.custom-select.customSelect,
.form-control{
    display: block;
    width: 100%;
    min-width:200px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 2px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.custom-select.customSelect{
    background:#fff url(../images/back/arrow_down.gif) no-repeat right 12px center;
}

textarea.form-control{
    height:auto;
    min-height:100px;
    line-height:120%;
    padding-top:10px;
    padding-bottom:10px;
}

::-webkit-input-placeholder { color: var(--text-color); }
::-moz-placeholder { color:var(--text-color);}
:-ms-input-placeholder { color: var(--text-color);}
:-moz-placeholder { color: var(--text-color);}

.form-control:focus{
    -webkit-box-shadow: 0 0 3px rgba(17, 88, 118, 0.38);
    -moz-box-shadow: 0 0 3px rgba(17, 88, 118, 0.38);
    box-shadow: 0 0 3px rgba(17, 88, 118, 0.38);
}



.has-error .form-control{
    -webkit-box-shadow: 0 0 3px var(--brand-danger);
    -moz-box-shadow: 0 0 3px var(--brand-danger);
    box-shadow: 0 0 3px var(--brand-danger);
}

.error-msg{
    color:var(--brand-danger);
    margin-top:5px;
    font-size:12px;
    text-align:left;
}


.form-text {
    display: block;
    margin-top: 5px;
}
/*radiobutton/checkbox*/
.calc-preform .ctrl-field{
    display:inline-block;
    margin-bottom:25px;
}
.ctrl-group >*{
    margin-right:4rem;
}
.ctrl-group >*:last-child{
    margin-right:0;
}
.ctrl-label{
    display: inline-block;
    vertical-align:middle;
    font-weight:bold;
    font-size:12px;
}
.ctrl-inp{
    display: none;
}
.ctrl-btn {
    display: inline-block;
    vertical-align:middle;
    position: relative;
    width: 18px;
    height: 18px;
    border: solid 1px var(--brand-primary);
    margin-right:5px;
}
.ctrl-field.-rbtn .ctrl-btn{
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}



.ctrl-inp:checked + .ctrl-btn:before {
    content: '';
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}

/*radiobutton*/
.ctrl-field.-rbtn .ctrl-inp:checked + .ctrl-btn:before {
    width:7px;
    height:7px;
    background:var(--brand-primary);
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}
/*checkbox*/
.ctrl-field.-chbox .ctrl-btn{
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}
.ctrl-field.-chbox .ctrl-inp:checked + .ctrl-btn:before {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content:'\ea10';
    font-size: 10px;
    color: var(--brand-primary);
}

