.fieldset{
    padding-bottom:1rem;
    margin-bottom:1.5rem;
}

.form-title,
legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: inherit;
    color:var(--brand-primary);
}

.form-group{
    margin-bottom:1rem;
}
.form-label{
    display:inline-block;
    font-size: 14px;
    margin-bottom: .5rem;
}
select.kanda-select,
select.kanda-select-late-init {
    opacity: 0;
}
.kanda-select.kandaSelect,
.kanda-select-late-init.kandaSelect,
.form-control{
    font-family: 'Open Sans', sans-serif;
    display: block;
    width: 100%;
    padding: .36rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: var(--text-color);
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 2px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
::-webkit-input-placeholder { color: var(--text-color); }
::-moz-placeholder { color:var(--text-color);}
:-ms-input-placeholder { color: var(--text-color);}
:-moz-placeholder { color: var(--text-color);}

.form-control:focus{
    outline:none;
    -webkit-box-shadow: 0 0 1px #ccc;
    -moz-box-shadow: 0 0 1px #ccc;
    box-shadow: 0 0 1px #ccc;
}

.kanda-select.kandaSelect,
.kanda-select-late-init.kandaSelect{
    background:#fff url(../images/back/arrow_down.png) no-repeat right 12px center;
    white-space:nowrap;
    opacity: 0;
}

textarea.form-control{
    min-height:100px;
    padding-top:10px;
    padding-bottom:10px;
}
/*helper texts*/
.form-text {
    display: block;
    margin-top: .25rem;
}
.form-control-feedback {
    margin-top: .25rem;
}

/*defining states*/
.has-error .form-label,
.has-error .form-control-feedback{
    color:var(--brand-danger);
}
.has-error .form-control{
    border-color:var(--brand-danger);
}

.has-success .form-label,
.has-success .form-control-feedback{
    color:var(--brand-success);
}
.has-success .form-control{
    border-color:var(--brand-success);
}

.has-warning .form-label,
.has-warning .form-control-feedback{
    color:var(--brand-warning);
}
.has-warning .form-control{
    border-color:var(--brand-warning);
}


/*radiobutton/checkbox*/
.ctrl-group >*{
    margin-right:4rem;
}
.ctrl-group >*:last-child{
    margin-right:0;
}
.ctrl-label{
    display: inline-block;
    vertical-align:middle;
    font-weight:bold;
    font-size:12px;
}
.ctrl-inp{
    display: none;
}
.ctrl-btn {
    display: inline-block;
    vertical-align:middle;
    position: relative;
    width: 18px;
    height: 18px;
    border: solid 1px var(--brand-primary);
    margin-right:5px;
}
.ctrl-field.-rbtn .ctrl-btn{
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}



.ctrl-inp:checked + .ctrl-btn:before {
    content: '';
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}

/*radiobutton*/
.ctrl-field.-rbtn .ctrl-inp:checked + .ctrl-btn:before {
    width:7px;
    height:7px;
    background:var(--brand-primary);
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}
/*checkbox*/
.ctrl-field.-chbox .ctrl-btn{
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}
.ctrl-field.-chbox .ctrl-inp:checked + .ctrl-btn:before {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content:'\ea10';
    font-size: 10px;
    color: var(--brand-primary);
}

/*date field*/
/*.calendar-field{*/
    /*position:relative;*/
    /*padding-right:40px;*/
/*}*/
/*.calendar-field img{*/
    /*position:absolute;*/
    /*right:10px;*/
    /*top:50%;*/
    /*-webkit-transform:translateY(-50%);*/
    /*-moz-transform:translateY(-50%);*/
    /*transform:translateY(-50%);*/
/*}*/

.info-form .form-label{
    color:var(--brand-info);
}