.menu-btn {
    display: none;
}
/*main menu*/
.main-menu {
    float: left;
    margin-top: 43px;
    margin-left: 20px;
}
.main-menu,
.sub-menu li {
    list-style: none;
}
.main-menu > li {
    float: left;
    padding: 0 15px;
    position: relative;
}
.main-menu > li.menu-item-has-children::before {
    content: ' ';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ececec;
    position: absolute;
    right: 0;
    top: 9px;
}
.main-menu > li > a {
    color: #ececec;
    text-decoration: none;
}
.main-menu > li.current-menu-item > a {
    display: inline-block;
    border-bottom: 1px solid #ececec;
    padding-bottom: 2px;
}

.sub-menu {
    position: absolute;
    z-index: 3;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 12px 0;
    min-width: 150px;
    background-color: #ececec;
    border: 1px solid #ececec;
    -webkit-box-shadow: 0 0 7px #1b1b1b;
    -moz-box-shadow: 0 0 7px #1b1b1b;
    box-shadow: 0 0 7px #1b1b1b;
    border-radius: 5px;
    display: block;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;

    -webkit-transform: translate(0, 20px);
    -moz-transform: translate(0, 20px);
    transform: translate(0, 20px);

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.agency-logo .sub-menu {
    left: auto;
    right: 0;
    min-width: 170px;
}
.agency-logo .sub-menu::before {
    width: 0;
    height: 0;
    content: " ";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ececec;
    position: absolute;
    top: -6px;
    right: 42px;
    margin-right: -8px;
}

/*.no-touchevents*/
.main-menu > li:hover > .sub-menu,
.agency-logo:hover .sub-menu,
.currency.opened .sub-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
}
.sub-menu li {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    padding: 3px 0;
}
.sub-menu li a {
    padding: 0 10px;
    text-decoration: none;
    color: var(--brand-primary);
    display: block;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.sub-menu li a i {
    margin-right: 10px;
}
.sub-menu li:hover {
    background-color: var(--brand-primary);
}
.sub-menu li:hover a {
    color: #ececec;
}


/*mobile menu*/
@media (max-width: 767px) {
     /*menu hamburger*/
    .menu-btn {
        outline: none;
        cursor: pointer;
        background: none;
        border: 0;
        position: absolute;
        right: 80px;
        top: 40px;
        z-index: 10;
    }

    .burger-icon {
        position: relative;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .burger-icon,
    .burger-icon:before,
    .burger-icon:after {
        display: block;
        width: 24px;
        height: 2px;
        background-color: #fff;
        -webkit-transition-property: background-color, -webkit-transform;
        -moz-transition-property: background-color, -moz-transform;
        transition-property: background-color, transform;
        -webkit-transition-duration: 0.9s;
        -moz-transition-duration: 0.9s;
        transition-duration: 0.9s;
    }
    .burger-icon:before,
    .burger-icon:after {
        position: absolute;
        content: "";
    }
    .burger-icon:before {
        top: -6px;
    }
    .burger-icon:after {
        top: 6px;
    }
    /*end burger menu*/

    /*menu*/
    body.menu-opened{
        overflow:hidden;
    }
    .menu-opened .menu-btn{
        top: 9px;
        right: 15px;
    }
    .menu-opened.admin-bar .menu-btn{
        top:55px;
    }
    .menu-opened .menu-btn .burger-icon {
        background-color: transparent;
    }
    .menu-opened .menu-btn .burger-icon:before {
        -webkit-transform: translateY(6px) rotate(45deg);
        -moz-transform: translateY(6px) rotate(45deg);
        transform: translateY(6px) rotate(45deg);
    }
    .menu-opened .menu-btn .burger-icon:after {
        -webkit-transform: translateY(-6px) rotate(-45deg);
        -moz-transform: translateY(-6px) rotate(-45deg);
        transform: translateY(-6px) rotate(-45deg);
    }

    .menu-btn{
        display: inline-block;

    }
    .menu-opened .menu-btn{
        position: fixed;
        z-index: 99999;
    }

    .menu-opened .head-nav {
        right: 0;
    }
    .main-menu >li >a:before{
        display:none;
    }

    /*menu*/
    .head-nav{
        z-index: 9999;
        position: fixed;
        top:0;
        bottom: 0;
        right:-100%;
        width: 250px;
        height:100%;
        padding:80px 0 20px;
        margin-top:0;
        background:var(--brand-primary);
        text-align:right;
        overflow:auto;
        -webkit-transition:all 0.7s;
        -moz-transition: all 0.7s;
        transition: all 0.7s;
    }
    .main-menu{
        display: inline-block;
        float: none;
        margin: 0;
        padding: 20px 10px;
    }
    .main-menu >li{
        margin: 0;
        float: none;
        width:100%;
        padding: 7px 10px;
        color:#fff;
        font-size:14px;
    }

   /* .main-menu li:hover{
        background:#2a4f61;
    }*/
    .main-menu > li.menu-item-has-children::before {
        right:-5px;
        top:17px;
    }
    .main-menu ul.sub-menu{
        display:none;
        position: static;
        min-width: inherit;
        background: none;
        border: 0;
        border-radius: 0;
        opacity: 1;
        visibility: visible;
        -webkit-transform: none;
        -moz-transform: none;
        transform: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .main-menu >li.active .sub-menu {
        display: block;
    }

    .main-menu ul.sub-menu >li{
        padding: 2px 10px;
        font-size:12px;
    }
    .main-menu ul.sub-menu li a{
        color: #fff;
    }

    .sub-toggler {
        display: inline-block;
        vertical-align: middle;
        margin: -3px 0 0 4px;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #fff;
        cursor: pointer;
    }
}

@media screen and (max-width:480px){
    .menu-btn{
        right: 62px;
        top: 32px;
    }
}
