@media (max-width: 991px) {

}
@media (max-width: 767px) {
	html{
		font-size:14px;
	}
	.head-side{
		margin-top:20px;
	}
	/*end menu*/
	.table-wrap{
		overflow:auto;
	}
	.users-table{
		font-size:13px;
	}
	.agency-logo img{
		max-width: 4rem;
	}
}

@media (max-width: 543px) {

}

@media screen and (max-width:480px){
	.back-logo{
		max-width:200px;
	}
	.agency-logo img{
		max-width:3rem;
	}
	.currency a{
		font-size:1.5rem;
	}
    .static-popup .form-control, .kanda-select-late-init.kandaSelect, .kanda-select.kandaSelect{
        max-width: 212px;
    }
}
@media screen and (max-width:320px){
    .form-control, .kanda-select-late-init.kandaSelect, .kanda-select.kandaSelect{
        max-width: 260px;
    }
    .static-popup .form-control, .kanda-select-late-init.kandaSelect, .kanda-select.kandaSelect{
        max-width: 182px;
    }
}