.editor-content{
    line-height:130%;
}

.editor-content p{
    margin-bottom:15px;
}

/*.editor-content h1,
.editor-content h2,
.editor-content h3,
.editor-content h4,
.editor-content h5,
.editor-content h6,
.editor-content b,
.editor-content strong{
    font-family:'montserratbold';
}*/

.editor-content ol{
    list-style:decimal;
}
.editor-content ul{
    list-style:square;
}